# compiled output
**/dist
**/global-s3-assets
**/regional-s3-assets
**/staging
**/open-source
**/.zip
**/tmp
**/out-tsc

# dependencies
**/node_modules
**/modules

# test assets
**/coverage
**/coverage-reports
**/.nyc_output
**/mock-*

# misc
**/npm-debug.log
**/testem.log
**/.vscode/settings.json
demo-ui-config.js
.temp_redpencil
bom.json

# deployment environment files (keep .env.example)
.env.dev
.env.prod
.env.staging

# System Files
**/.DS_Store
**/.vscode
**/.idea
build
dist
